PORT=8080
GOOGLE_CLIENT_ID=<your-google-clinet-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/callback

JWT_SECRET=<accesskey-secret>
JWT_EXPIRE_IN=1h

JWT_REFRESH_SECRET=<refresh-key-secret>
JWT_REFRESH_EXPIRE_IN=7d

DATABASE_URL="mysql://root:@localhost:3306/useowlform"

FRONTEND_URL=http://localhost:3000